/*

ExE Expertos por Experiencia

*/

$col-1: #FF910F;
$m: 3em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body{
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

em {
    color: $col-1;
    font-style: italic;
    font-weight: 700;
}

header {
    margin: $m;
    text-align: center;

    h1 {
        font-size: 3.8em;
        color: $col-1;
        font-weight: 600;
    }

    h2 {
        font-size: 2em;
        font-weight: 400;
        font-style: italic;
        line-height: 1.4em;
        margin: 1ex;
    }

    ul {
        margin: 0 $m;

        li {
            list-style-type: none;
            display: inline-block;
            margin: 0;

            &::before {
                display: inline-block;
                position: relative;
                top: .3ex;
                margin: 0;
                content: "·";
                color: $col-1;
                font-size: 1.9em;
                padding: 0.6ex 0.6ex 0.4ex 0.4ex;
                line-height: 20%;
            }

            &:first-child::before {
                content: none;
            }
        }
    }
}

main {
    margin: $m;

    .cols {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 2em;
        margin: 2em 0;

        p {
            font-size: 1.5em;
            line-height: 170%;
        }

        img {
            margin: 0 auto;
            height: auto;
        }
    }

    h3 {
        font-size: 2em;
    }

    .ilust {
        padding: 2em 25%;
    }

    p {
        font-size: 1.4em;
    }

    ul.ficha {
        padding: 2em;
        margin-top: 2em;
        display: inline-block;
        border-radius: 1ex;
        background-color: lighten($col-1, 39%);

        li {
            list-style-type: none;
        }
    }
}

select {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 80%;
    max-width: 100%;
    /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 1ex 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}

/* Hover style */
.select-css:hover {
    border-color: #888;
}

/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px $col-1;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled=true] {
    border-color: #aaa;
}



/////////////@at-root

.box {
    position: relative;
    padding: 3em;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;

    &::before,
    &::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid darken($col-1, 10%);
    }

    span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 15px 0;
        background-color: $col-1;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font: 700 18px/1 'Lato', sans-serif;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        text-align: center;
    }
}


/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;

    &::before,
    &::after {
        border-top-color: transparent;
        border-right-color: transparent;
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }

    span {
        left: -25px;
        top: 30px;
        transform: rotate(45deg);
    }

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 7em;

    a {
        text-align: center;

        img {
            filter: saturate(0%);
            height: 100px;
            width: auto;
        }

        &:hover {
            img {
                filter: saturate(100%);
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    header {
        margin: $m/2;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.4em;
        }

        p {
            font-size: .7em;
        }
    }

    h3 {
        font-size: 1em;
    }


    .cover {
        padding: 1ex 5ex;
    }

    select {
        width: 100%;
    }

    main {
        .cols {
            display: block;

            p {
                font-size: 1.1em;
            }

            img {
                text-align: center;
                margin: 0 auto;
                padding: 3em;
            }
        }
    }

    footer {
        display: flex;
        width: 100%;
        flex-direction: column;

        img {
            margin: 2em 0;
        }
    }

}